<%- include('cmsPartial/headCms') %>
<%- include('cmsPartial/cmsNav') %>
<h2 class="text-center text-danger">Edit Courses</h2>
<% if (error) { %>
  <p class="text-center text-danger"><%= error %></p>
<% } %>
<form action="" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Course Name" name="name" value="<%= data.name %>">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea name="description" id="" rows="3" class="form-control"><%= data.description %></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Photo URL</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Photo of the course" name="photoURL" value="<%= data.photoURL %>">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Duration</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="duration" placeholder="Put your duration in minutes" value="<%= data.duration %>">
                  </div>
                  <div class="mt-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Price</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="price" value="<%= data.price %>">
                  </div>
                  <select class="form-select mt-4" aria-label="Default select example" name="CategoryId">
                    <option selected disabled>Choose your Category</option>
                      <% categories.forEach(el => { %>
                        <option value="<%= el.id %>" <%= data.CategoryId === el.id ? "selected" : "" %>><%= el.name %></option>
                      <% }) %>
                  </select>
                  <div class="text-center">
                    <button class="btn btn-primary mt-4" type="submit">Submit</button>
                  </div>
            </div>
        </div>
    </div>
</form>

<%- include('cmsPartial/cmsFoot') %>