<%- include('cmsPartial/headCms') %>
<%- include('cmsPartial/cmsNav') %>

    <h2 class="text-center text-danger">List of Ruang Kepseksek Users</h2>
    <p>Jumlah user <%= data.length %></p>

    <!-- Data section -->
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                              <th scope="col">No</th>
                              <th scope="col">Name</th>
                              <th scope="col">Email</th>
                              <th scope="col">Member Since</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody >
                            <% data.forEach((el,i) => { %>
                                <tr class="text-center">
                                    <td><%= i + 1 %></td>
                                    <td><%= el.name%></td>
                                    <td><%= el.email%></td>
                                    <td><%= el.formatDate%></td>
                                    <td>
                                        <a href="/user/<%= el.id %>/delete"><button class="btn btn-danger">Delete</button></a>
                                    </td>
                                </tr>
                            <% }) %>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
<%- include('cmsPartial/cmsFoot') %>